<div class="top " [ngClass]="{'backdrop-filter':!isAndroid}">
    <div class="logo">
        <a href="/">
            <img src="assets/static/img/KSTLOGO.png" alt="">
        </a>
    </div>
</div>
<div class="contant" [ngClass]="{open:menuOpen}">
    <lib-header #header></lib-header>
    <div class="contant-top">
        <div class="connect" *ngIf="boot.accounts.length===0;else connected" (click)="chooseWallet()">
            <div class="center">
                <div class="img">
                    <img src="assets/static/img/link-n.png" alt="">
                </div>
                <div class="line">
                    <div class="line-cont"></div>
                </div>
                <div class="text">Connect Wallet</div>
            </div>
        </div>
        <ng-template #connected>
            <div class="connect" (click)="chooseWallet()">
                <div class="center">
                    <div class="img">
                        <!-- todo: use wallet icon -->
                        <img src="assets/static/img/link.png" alt="">
                    </div>
                    <div class="line">
                        <div class="line-cont"></div>
                    </div>
                    <div class="text" style="width:70px;color: #16A16A;">{{addressLinkFn(boot.accounts[0])}}</div>
                </div>
            </div>
        </ng-template>
    </div>
    <div class="contant-box">
        <div class="tabs">
            <ul #tabsUl>
                <li class="swap" [ngClass]="{active:curTab===0}" (click)="changeTab(0)">
                    <div class="tab-name">{{"Payment" | translate}}</div>
                    <div class="bg" [ngStyle]="{display:isMobile?'':'none'}"></div>
                </li>
                <div class="tabs-bg" [ngStyle]="{display:!isMobile?'':'none'}" #tabsBg></div>
            </ul>
        </div>
        <div class="cont">
            <div class="main">
                <div class="boxs">
                    <div class="box" style="height: auto">
                        <app-get-paid-to-pay (loaded)="onLoaded()" (loading)="onLoading()"></app-get-paid-to-pay>
                        <app-payment-info (loaded)="onLoaded()" (loading)="onLoading()"></app-payment-info>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <lib-left-menu [activeIndex]="0" (menuOpen)="menuOpenFn($event)"></lib-left-menu>
    <div class="bg-box-1">
        <div class="bg-box-cont"></div>
    </div>
    <div class="bg-box-2">
        <div class="bg-box-cont"></div>
    </div>
    <div class="bg-box-3">

    </div>
</div>

<app-choose-wallet-dlg #cwDlg></app-choose-wallet-dlg>
<app-install-wallet-dlg #installWltDlg></app-install-wallet-dlg>
