<div class="other-box">
    <div class="title">
        <div class="box"></div>
        <div class="text">{{"User's Info" | translate}}</div>

    </div>
    <div class="list" *ngFor="let coin of boot.coins;let i=index">
        <div class="left">{{coin.symbol}}:</div>
        <div class="right">
            <div class="num">{{boot.balance.coinsBalance[i].toFormat(4,1)}}</div>
            <div *ngIf="!boot.isProduction" class="claim" (click)="claim(i)">{{"Claim" | translate}}</div>
        </div>
    </div>
    <div class="list">
        <div class="left">{{boot.liquiditySymbol}}:</div>
        <div class="right">
            <div class="num">{{boot.balance.lp.toFormat(4,1)}}</div>
        </div>
    </div>
    <!-- <div class="list">
        <div class="left">{{boot.tokenSymbol}}:</div>
        <div class="right">
            <div class="num">{{boot.balance.tokenBalance.toFormat(4,1)}}</div>
        </div>
    </div> -->
    <div class="list">
        <div class="left">{{"Staking" | translate}} {{boot.liquiditySymbol}}:</div>
        <div class="right">
            <div class="num">{{boot.balance.stakingLP.toFormat(4,1)}}</div>
        </div>
    </div>
    <!-- <div class="list">
        <div class="left">Pengding Reward:</div>
        <div class="right">
            <div class="num">{{boot.balance.pendingToken.toFormat(4,1)}}</div>
        </div>
    </div> -->
</div>
